<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <title></title>
  <style media="screen">
      .outer
      {
        width: 100%;

      }

      .cell
      {
        height: 130px;
        border: 1px solid;
        background-color: gold;

      }
      .cell-no-border
      {
        height: 100px;
      }
      img {
       width: 100px;
       height: 100px;
       object-fit: cover;
      }
      .cell img {
       width: 150px;
       height: 110px;
       object-fit: cover;
      }
  </style>
  </head>
  <body>
  <div class="outer">
    <div class="container">
      <div class="row">
        <div class="col-1 cell-no-border">1</div>
        <div class="col-2 cell">
          <img id="frog" src="static/frog.png"></img>
        </div>
        <div class="col-2 cell">
          <img id="elephant" src="static/elephant.png"></img>
        </div>
        <div class="col-2 cell">
          <img id="giraffe" src="static/giraffe.png">
        </div>
        <div class="col-2 cell"><img id="monkey" src="static/monkey.png"></div>
        <div class="col-2 cell"><img id="peacock" src="static/peacock.png"></div>
        <div class="col-1 cell-no-border"></div>
      </div>

      <div class="row">
        <div class="col-1 cell-no-border"></div>
        <div class="col-2 cell"><img id="tounge" src="static/tounge_emoji.png"/></div>
        <div class="col-6 cell-no-border">
          6
      </div>
        <div class="col-2 cell"><img id="penguin" src="static/penguin.png"></img></div>
        <div class="col-1 cell-no-border">1</div>
      </div>

      <div class="row">
        <div class="col-1 cell-no-border">1</div>
        <div class="col-2 cell">
            <img id="sloth" src="static/sloth.png">
        </div>
        <div class="col-6 cell-no-border">6</div>
        <div class="col-2 cell">
          <img id="grin" src="static/grin.jfif">
        </div>
        <div class="col-1 cell-no-border">1</div>
      </div>

      <div class="row">
        <div class="col-1 cell-no-border">1</div>
        <div class="col-2 cell"><img id=turtle src="static/turtle.jpg"/></div>
        <div class="col-6 cell-no-border">
            6
        </div>
        <div class="col-2 cell">
          <img id="cat" src="static/cat.png"></img>
        </div>
        <div class="col-1 cell-no-border">1</div>
      </div>

      <div class="row">
        <div class="col-1 cell-no-border">1</div>
        <div class="col-2 cell">
          <img id="cow" src="static/cow.png"/>
        </div>
        <div class="col-2 cell">
            <img id="cheetah" src="static/cheetah.png">
        </div>
        <div class="col-2 cell">
        <img id="lion" src="static/lion.png"></img>
        </div>
        <div class="col-2 cell">
          <img id="angry" src="static/angry.jfif"/>
        </div>
        <div class="col-2 cell">
            <div class="col-2 cell"><img id="skunk" src="static/skunk.png"></img>
        </div>
        <div class="col-1 cell-no-border">1</div>
      </div>
    </div>
</div>
</body>
</html>
